@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Telegraf', sans-serif; /* For main text */
    background-color: rgba(0, 0, 0, 0.902);
  }

.hero-section .sub-head h1{
    font-family: 'Antonio', sans-serif;
}
.premium-color{
    color: #FFD3CF;
}


.main-section2 .left-content .sub-content p{
    color: #FFD3CF;
}


.section3-right-img,.section5-left-content,.right-section6 h1{
    color: #FFD3CF;
}

.main-section4,.left-section7 h1{
    font-family: 'Antonio', sans-serif;
    line-height: 1.2;
}
.left-footer h1{
     font-family: 'Antonio', sans-serif;
     line-height: 1.3;
     @apply font-bold
}
.main-section4,.right-section6{
    line-height: 1.2;
}

.section5-left-content h1{
    font-family: 'Antonio', sans-serif;
    line-height: 1.2;
}
.right-section7{
    border: 2px solid #FFD3CF;
}

.right-section7-inside h1{
    color: #FFD3CF;
    @apply text-2xl font-sans font-bold
}
.right-section7-inside p{
    @apply text-white mt-3 text-base w-96 font-sans;
}
.main-footer{
    background-color: #FFD3CF;
}